﻿.chroma {
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(10deg, black, black, red, blue, green, white, white);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 25s ease infinite;
    -z-animation: rainbow 25s ease infinite;
    -o-animation: rainbow 25s ease infinite;
    animation: rainbow 25s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.cursor {
    
    fill-opacity: 50%;
    stroke-width: 2;

    fill: #e3e3e3;
    stroke: #777;
    /*fill: #fff;*/
    /*stroke: #000;*/
}
.logo-fill{
    fill: #E3C567;
}
.logo-stroke {
    stroke: #C8963E;
    stroke-width: 15;
    stroke-linecap: round;
}
.eye {
    stroke: black;
    stroke-width: 1;
    stroke-linecap: round;
}
.background {
    background-color: #5a5a5a;
}